# .gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
*.h5
*.hdf5
*.model
*.weights
*.ckpt
*.zip
*.tar
*.tar.gz
*.rar
*.csv
*.npy
*.npz
*.log
*.tmp
*.swp
venv/
practfl/
*.egg-info/
.DS_Store
dataset/
chest_xray/

